<?xml version="1.0"?>
<!--
/**
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 *
 * @category   Kuzman
 * @package    Kuzman_AutoOrderCancel
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 * @author     Vladan Kuzmanovic (vladan.kuzman@gmail.com)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="sales">
            <group id="autoordercancel" translate="label" type="text" sortOrder="120" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Auto Order Cancel</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="order_statuses" translate="label" type="multiselect" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Order Statuses to be Canceled</label>
                    <source_model>Kuzman\AutoOrderCancel\Model\Config\Source\Order\Status</source_model>
                </field>
                <field id="payment_methods" translate="label" type="multiselect" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Payment methods</label>
                    <source_model>Kuzman\AutoOrderCancel\Model\Config\Source\Payment\Method</source_model>
                </field>
                <field id="older_than" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Cancel Orders Older Than (minutes)</label>
                    <validate>required-entry validate-digits</validate>
                </field>
                <field id="recent_than" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Cancel Orders Recent Than (minutes)</label>
                    <validate>required-entry validate-digits</validate>
                </field>
                <field id="comment" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Order History Comment</label>
                </field>
            </group>
        </section>
    </system>
</config>
